{% extends 'layout.html.twig' %}

{% block title %}umespaUserBundle:AlunoController:addAlunoEscola{% endblock %}

{% block body %}

<div class="main container">
<br>
  <div class="row well">
     <div class="col-md-6">
     <h2 class="page-header"> {% trans %} Cadastro de Alunos {% endtrans %} </h2>
         {{ form_start(form, { 'attr' : { 'novalidate': 'novalidate', 'r0ole' : 'form'} }) }}
                
                <div class="form-group">
                    {{ form_label(form.nome,'Nome ') }}
                    {{ form_widget(form.nome, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Nome Completo'} }) }}
                   <span class="text-danger">{{ form_errors(form.nome) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.cpf,'Cpf ') }}
                    {{ form_widget(form.cpf, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Somente número'} }) }}
                   <span class="text-danger">{{ form_errors(form.cpf) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.rg,'Rg ') }}
                    {{ form_widget(form.rg, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Rg'} }) }}
                   <span class="text-danger">{{ form_errors(form.rg) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.endereco,'Endereço ') }}
                    {{ form_widget(form.endereco, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Endereço'} }) }}
                   <span class="text-danger">{{ form_errors(form.endereco) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.endComplemento,'Complemento ') }}
                    {{ form_widget(form.endComplemento, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Casa,ap'} }) }}
                   <span class="text-danger">{{ form_errors(form.endComplemento) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.numero,'Número ') }}
                    {{ form_widget(form.numero, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Número'} }) }}
                   <span class="text-danger">{{ form_errors(form.numero) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.numComplemento,'Complemento') }}
                    {{ form_widget(form.numComplemento, { 'attr' : {'class' : 'form-control', 'placeholder' : 'A,B,C'} }) }}
                   <span class="text-danger">{{ form_errors(form.numComplemento) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.fone,'Fone') }}
                    {{ form_widget(form.fone, { 'attr' : {'class' : 'form-control', 'placeholder' : '(DDD) 0-0000-0000'} }) }}
                   <span class="text-danger">{{ form_errors(form.fone) }}</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.email,'E-mail') }}
                    {{ form_widget(form.email, { 'attr' : {'class' : 'form-control', 'placeholder' : 'E-mail'} }) }}
                   <span class="text-danger">{{ form_errors(form.email) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.cep,'Cep') }}
                    {{ form_widget(form.cep, { 'attr' : {'class' : 'form-control', 'placeholder' : 'CEP'} }) }}
                   <span class="text-danger">{{ form_errors(form.cep) }}</span>
                </div>
                  <div class="form-group">
                    {{ form_label(form.dataNsc,'Data de Nascimento') }}
                    {{ form_widget(form.dataNsc) }}
                   <span class="text-danger">{{ form_errors(form.dataNsc) }}</span>
                </div>
                 <div class="form-group">
                    {{ form_label(form.cidadeNatal,'Cidade que Nasceu') }}
                    {{ form_widget(form.cidadeNatal, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Cidade que Nasceu'} }) }}
                   <span class="text-danger">{{ form_errors(form.cidadeNatal) }}</span>
                </div>
			
		    <p>
             {{ form_label(form.save,'Proximo') }}
		       {{ form_widget(form.save, {'label' : 'Proximo', 'attr': {'class': 'btn btn-success'}}) }}
		     
        
             {{ form_label(form.cancel,'Cancelar') }}
		       {{ form_widget(form.cancel, {'label' : 'Cancelar', 'attr': {'class': 'btn btn-danger'}}) }}
		    </p>    
    
        {{ form_end(form) }}
       

     </div>
  </div>
 
</div>
{% endblock %}
